{% extends 'base.html' %}

{% block content %}
<style>
    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%; /* Растягивание на всю высоту */
    }

    .home-content h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .home-content p {
        font-size: 18px;
        max-width: 800px; /* Ограничение ширины для лучшей читаемости */
        line-height: 1.6;
    }
</style>

<div class="home-content">
    <h1>Встречай цвет весны!</h1>
    <p>Добро пожаловать в мир весенних чудес! В нашем магазине вы найдете самые красивые и свежие букеты, которые подарят вам радость и отличное настроение. Весна — это время пробуждения природы, и каждый наш букет станет настоящим символом этого чудесного времени года.</p>
    <p>Вы можете выбрать из широкого ассортимента или создать свой уникальный букет, добавив любимые цветы и украшения. Мы гарантируем быструю доставку и безупречное качество всех наших букетов.</p>
    <p>Пусть весна будет яркой и красочной, а наши букеты станут ее приятным дополнением!</p>
</div>
{% endblock %}
